body {
	background: #c592ea url( '../images/purple/background.jpg') top left repeat-x;
	color: #9E6AC1;
}
.must-log-in a {
	color: #9E6AC1;
}
.nofavs {
	background: url( '../images/purple/nofavs.png' ) center center no-repeat;
}
.ft_gameshowcase, .ft_contentshowcase {
	background-color:#39184F;
	-webkit-box-shadow: 0px 0px 8px #4a1071;
	-moz-box-shadow:    0px 0px 8px #4a1071;
	box-shadow:         0px 0px 8px #4a1071;
}
.ft_gameshowcase li .framespan {
	background: url( '../images/purple/frame.png' ) bottom left no-repeat;
}
.ft_gameshowcase li:hover .framespan {
	background: url( '../images/purple/frame.png' ) top left no-repeat;
}
.games-related_custom li .framespan {
	background: url( '../images/purple/frame.png' ) bottom left no-repeat;
}
.games_title{
	background-color:#270D3B;
}
.previous-post {
	background-color: #2f1144;
 }
.previous-post_complex {
 	background-color: #2f1144;
 }
.previous-post:hover img, .next-post:hover img, .previous-post_complex:hover img, .next-post_complex:hover img {
	border-color: #522d6b;
}
.previous-post:hover, .next-post:hover, .previous-post_complex:hover, .next-post_complex:hover {
	background-color: #270D3B;
}
.next-post {
	background-color: #2f1144;
}
.next-post_complex {
	background-color: #2f1144;
}
.next-post h4 a, .next-post_complex h4 a {
	color: #D497FF;
}
.previous-post h4 a, .previous-post_complex h4 a {
	color: #D497FF;
}
.post_title_next_complex,  .post_title_prev, .post_title_prev_complex {
    color: #D497FF;
 }
 .pr-post_info p, .pr-post_info_complex p {
 	color: #7e5a97;
 }
 .post-gameimg {
  border: 10px solid #492260;
 }
 .remove-link {
 	background-color: #270D3B;
 }
.remove-link a {
	color: #b67de3;
}
.catpage_desc{
	background:#2b0c40 url( '../images/purple/catimg.png' ) no-repeat;
}
.wp-pagenavi .page {
	background: url( '../images/purple/pagecircles.png' ) top left no-repeat;
}
.wp-pagenavi .page:hover {
 	background: url( '../images/purple/pagecircles.png' ) bottom left no-repeat;
}
.wp-pagenavi .current {
 	background: url( '../images/purple/pagecircles.png' ) bottom left no-repeat !important;
}
.pagi_normal {
	background: url( '../images/purple/pagecircles.png' ) top left no-repeat;
}
.pagi_normal:hover {
  background: url( '../images/purple/pagecircles.png' ) bottom left no-repeat;
}
.pagi_on {
 	background: url( '../images/purple/pagecircles.png' ) bottom left no-repeat !important;
}
.wp-pagenavi span, .wp-pagenavi a {
	color: #270D3B;
}
.footer_wrapper li a:hover {
	color: #5b278f;
}
.footer_link {
	color: #491171;
}
.footer_link a {
	color:#491171;
}
.gamepagebox, .gamepagebox_adoff {
  background-color:#39184F;
  -webkit-box-shadow: 0px 0px 8px #4a1071;
  -moz-box-shadow:    0px 0px 8px #4a1071;
  box-shadow:         0px 0px 8px #4a1071;
}
.gamepagebox h1 {
  background-color: #270D3B;
}
li.adspace, .adspace_right {
	background: url( '../images/purple/300bg.png' ) top center no-repeat;
}
.adblock {
	background-color:#39184F;
}
.options_panel {
  background-color: #270D3B;
}
.normal_box {
  background-color: #39184F;
  -webkit-box-shadow: 0px 0px 8px #4a1071;
  -moz-box-shadow:    0px 0px 8px #4a1071;
  box-shadow:         0px 0px 8px #4a1071;
}
li.active {
  background-color: #270D3B;
}
.gamedesc_info h2, .gamedesc_info_right h2 {
  color: #9e6ac1;
}
.gamedesc_info {
	background: url( '../images/purple/gameinfo.png' ) center left no-repeat;
}
.gameinfo_functions {
	background-color: #270D3B;
}
.gamemiscstats {
	background: url( '../images/purple/gpstat.png' ) no-repeat;
}
.gpcats {
	background: url( '../images/purple/gpfolder.png' ) no-repeat;
}
.gpcats a, .gptags a, .admin_actions a {
	color: #9E6AC1;
}
.gptags {
	background: url( '../images/purple/taginfo.png' ) no-repeat;
}
.emdbedcodebox {
	background-color:#270D3B;
}
.emdbedcodebox p {
	color: #9E6AC1;
}
.emdbedcodebox textarea {
	color: #7d4c9e;
	background-color: #000000;
}
.allcomments h3 {
	background-color: #270D3B;
}
.depth-3 #reply-title {
	background-color: #00142D;
}
.depth-4 #reply-title {
	background-color: #270D3B;
}
.screenshot_box {
	background-color: #270D3B;
}
.depth-1 .comment-reply-link,
.depth-2 .comment-reply-link,
.depth-3 .comment-reply-link,
.depth-4 .comment-reply-link {
	background-color: #552874;
}
.depth-1 .comment-reply-link:hover,
.depth-2 .comment-reply-link:hover,
.depth-3 .comment-reply-link:hover,
.depth-4 .comment-reply-link:hover {
	background-color: #7d4c9e;
}
.form-allowed-tags {
	background-color:#270D3B;
	color:#956db0;
}
#commentform input {
	color: #976dba;
	background-color:#270D3B;
	border: 2px solid #6A4086;
}
#commentform textarea {
	color:#976dba;
	background-color:#270D3B;
	border: 2px solid #6a4086;
}
#commentform input:hover, #commentform textarea:hover {
	border-color: #7e529c;
}
.logged-in-as {
	color: #976dba;
}
ol.commentlist li {
	background-color: #270D3B;
}
div.vcard img.avatar {
	border: 5px solid #5d337d;
}
ol.commentlist li a {
	color: #9865BA;
}
ol.commentlist li ul.children li.depth-2 {
  background-color:#3D1C57 !important;
}

ol.commentlist li ul.children li.depth-3 {
  background-color:#270D3B !important;
}

ol.commentlist li ul.children li.depth-4 {
  background-color:#3D1C57 !important;
}
ol.commentlist li ul.children li.depth-5 {
  background-color:#270D3B !important;
}
.single-one-options {
	background-color: #270D3B;
}
.entry p a {
	color: #9865BA;
}
.entry blockquote {
	background-color: #270D3B;
}
#progressbar {
  background: #270d3b;
}
.fullscreen {
	background: url( '../images/purple/toggles.png ') no-repeat;
	background-position: 0px 0px;
}
.fullscreen:hover {
	background: url( '../images/purple/toggles.png ') bottom left no-repeat;
}
.interruptor{
	background:url( '../images/purple/toggles.png' ) no-repeat;
	background-position:-69px 0px;
}
.interruptor:hover {
	background:url( '../images/purple/toggles.png' ) -69px -53px no-repeat;
}
.luz_apagada {
  background: url( '../images/purple/toggles.png' ) no-repeat scroll -69px -53px transparent !important;
}
.luz_apagada:hover {
 	background: url( '../images/purple/toggles.png' ) no-repeat scroll -69px 0px transparent !important;
}
.favoritos {
	background: url( '../images/purple/toggles.png' ) no-repeat scroll -69px 0px transparent !important;
}
.vertical_adbox {
	background-color: #270D3B;
}
.games-related li .framespan {
	background: url( '../images/purple/frame.png' ) bottom left no-repeat;
}
.games-related li:hover .framespan {
	background: url( '../images/purple/frame.png' ) top left no-repeat;
}
.register-section input, #activation-form input {
	background-color:#2c193b;
	border:2px solid #6b3d8f;
}
.register-section input:hover, #activation-form input:hover {
	border-color: #8d5cb4;
}
.register-section input:focus, #activation-form input:focus {
	border-color: #8d5cb4;
}
.leader_adspace_top, .leader_adspace_bottom, .leader_adspace_bottomstyle2, .leader_ab_sone, .tricera_customtext {
	background-color: #270D3B;
}
.noresult_error {
	background: url( '../images/purple/nosearch.png' ) top center no-repeat;
}
.related-games-box {
	background: url( '../images/purple/related_title.png' ) center 15px no-repeat;
}
.games-related_custom li:hover .framespan {
	background: url( '../images/purple/frame.png' ) top left no-repeat;
}
.custom-related {
	background: url( '../images/purple/related_title.png' ) top left no-repeat!important;
}
/** BuddyPress */
#buddypress #header-cover-image {background-color: #270D3B}
#buddypress .single-headers .item-meta {color: #fff}
.buddypress-wrap.bp-dir-hori-nav:not(.bp-vertical-navs) nav:not(.tabbed-links) {border-color: #9E6AC1}
.buddypress-wrap .member-description a {color: #9E6AC1}
.buddypress-wrap .bp-subnavs ul li.current :focus, .buddypress-wrap .bp-subnavs ul li.current :hover, .buddypress-wrap .bp-subnavs ul li.selected :focus, .buddypress-wrap .bp-subnavs ul li.selected :hover {color: #270D3B;background: #ccc}
.buddypress-wrap .main-navs:not(.dir-navs) li.current a, .buddypress-wrap .main-navs:not(.dir-navs) li.selected a {background: #ccc;color: #270D3B}
.buddypress .buddypress-wrap input.text-button {color: #fff}
.buddypress-wrap div.feed a:before {color: #fff}
.buddypress-wrap .subnav-filters .component-filters select {color: #9E6AC1}
.buddypress-wrap .subnav-filters .component-filters option {background: #270D3B}
body.buddypress .ft_gameshowcase li, body.buddypress .ft_gameshowcase li a {color: #9E6AC1}
.buddypress-wrap .bp-tables-user tbody tr {background: #270D3B}
.buddypress-wrap .bp-tables-user tr td.label {border-right-color: #270D3B}
.buddypress-wrap .bp-pagination.top {color: #9E6AC1}
.buddypress-wrap .bp-pagination {color:#270D3B}
.buddypress-wrap .bp-list>li {border-bottom-color: #270D3B}